langchain==0.2.14
langchain-core==0.2.36
langchain-community==0.2.12
langchain-huggingface==0.0.3
langchain-openai==0.1.22
langgraph==0.1.19
transformers==4.44.2
huggingface_hub==0.24.6
accelerate==0.33.0
sentence-transformers==3.0.1
tavily-python==0.3.5

beautifulsoup4==4.12.3
requests==2.32.3
lxml==5.3.0
html5lib==1.1

aiohttp==3.9.5
async-timeout==4.0.3
tenacity==8.5.0
python-dotenv==1.0.1
pydantic==2.8.2

faiss-cpu==1.8.0.post1
chromadb==0.5.5

tiktoken==0.7.0
numpy==1.26.4
scipy==1.13.1

rich==13.7.1
loguru==0.7.2